{{!-- Partials works as a preprocessor for views. i.e. {{>header}} is replaced with actual code --}}
<header>
<h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</header>